{%extends "index.html"%}
{%block content%}
<div class="mx-3">
    <h1>{{course.name | capitalize}}</h1>
</div>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            {% for assignment in course.assignments %}
            <th scope="col">{{assignment.assignment_name}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for student in course.students %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.last_name|capitalize}}</td>
            <td>{{student.first_name|capitalize}}</td>
            {% for grade in student.grades %}
            <td>{{grade.value}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>

</table>

<button type="button" class="btn btn-primary" id="modalButton" data-toggle="modal" data-target="#exampleModal"
    data-whatever="@mdo">Add a Student</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/course/{{course.id}}" id="addstudentform">
                    {{ addstudentform.hidden_tag() }}
                    {{ addstudentform.csrf_token }}
                    <div class="form-group">
                        {{ addstudentform.students_first_name.label (class= "form-control-label") }}
                        {% if addstudentform.students_first_name.errors %}
                        {{ addstudentform.students_first_name(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in addstudentform.students_first_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ addstudentform.students_first_name(class= "form-control form-control-lg")}}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ addstudentform.students_last_name.label (class= "form-control-label") }}
                        {% if addstudentform.students_last_name.errors %}
                        {{ addstudentform.students_last_name(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in addstudentform.students_last_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ addstudentform.students_last_name(class= "form-control form-control-lg")}}
                        {% endif %}
                    </div>


                    <div>
                        {{ addstudentform.submitstudent (class= "btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<button type="button" class="btn btn-primary" id="modalButton" data-toggle="modal" data-target="#gradeModal"
    data-whatever="@zzz">Add Grades</button>

<div class="modal fade" id="gradeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Grades</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/course/{{course.id}}">
                    {{ addgrades_form.hidden_tag() }}

                    <div class="form-group">
                        {{ addgrades_form.value.label (class= "form-control-label") }}
                        {% if addgrades_form.value.errors %}
                        {{ addgrades_form.value(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in addgrades_form.value.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ addgrades_form.value(class= "form-control form-control-lg")}}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ addgrades_form.student.label (class= "form-control-label") }}
                        {% if addgrades_form.student.errors %}
                        {{ addgrades_form.student(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in addgrades_form.student.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ addgrades_form.student(class= "form-control form-control-lg")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ addgrades_form.assignment.label (class= "form-control-label") }}
                        {% if addgrades_form.assignment.errors %}
                        {{ addgrades_form.assignment(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in addgrades_form.assignment.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ addgrades_form.assignment(class= "form-control form-control-lg")}}
                        {% endif %}
                    </div>
                    <div>
                        {{ addgrades_form.submit_grade (class= "btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<button type="button" class="btn btn-primary" id="modalButton" data-toggle="modal" data-target="#assignmentModal"
    data-whatever="@zzz">Add Assignments</button>

<div class="modal fade" id="assignmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add an Assignment.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/course/{{course.id}}">
                    {{ addassignment_form.hidden_tag() }}

                    <div class="form-group">
                        {{ addassignment_form.assignment_name.label (class= "form-control-label") }}
                        {% if addassignment_form.assignment_name.errors %}
                        {{ addassignment_form.assignment_name(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in addassignment_form.assignment_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ addassignment_form.assignment_name(class= "form-control form-control-lg")}}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ addassignment_form.assignment_description.label (class= "form-control-label") }}
                        {% if addassignment_form.assignment_description.errors %}
                        {{ addassignment_form.assignment_description(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in addassignment_form.assignment_description.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ addassignment_form.assignment_description(class= "form-control form-control-lg")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ addassignment_form.weight.label (class= "form-control-label") }}
                        {% if addassignment_form.weight.errors %}
                        {{ addassignment_form.weight(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in addassignment_form.weight.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ addassignment_form.weight(class= "form-control form-control-lg")}}
                        {% endif %}
                    </div>

                    <div>
                        {{ addassignment_form.submit_assignment (class= "btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}