{%extends "index.html"%}
{%block content%}

{% for course in courses %}
<h2>{{course.name}}</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Last Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Homework</th>
      <th scope="col">Midterm</th>
      <th scope="col">Final</th>
      <th scope="col">Average</th>
    </tr>
  </thead>
  <tbody>

    {% for student in course.students %}
    <tr>
      <th scope="row">1</th>
      <td>{{ student.last_name}}</td>
      <td>{{ student.first_name}}</td>
      <td>{{ student.homework}}</td>
      <td>{{ student.midterm}}</td>
      <td>{{ student.final}}</td>
      <td>{{ student.average}}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endfor %}



<button type="button" class="btn btn-primary" id="modalButton" data-toggle="modal" data-target="#exampleModal"
  data-whatever="@mdo">Add a Student</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for ('addstudent') }}">
          {{ addstudentform.hidden_tag() }}
          {{ addstudentform.csrf_token }}
          <div class="form-group">
            {{ addstudentform.students_first_name.label (class= "form-control-label") }}
            {{ addstudentform.students_first_name(class= "form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{ addstudentform.students_last_name.label (class= "form-control-label") }}
            {{ addstudentform.students_last_name(class= "form-control form-control-lg")}}
          </div>

          <div class="form-group">
            {{ addstudentform.student_class.label (class= "form-control-label") }}
            {{ addstudentform.student_class(class= "form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{ addstudentform.homework.label (class= "form-control-label") }}
            {{ addstudentform.homework (class= "form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{ addstudentform.midterm.label (class= "form-control-label") }}
            {{ addstudentform.midterm (class= "form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{ addstudentform.final.label (class= "form-control-label") }}
            {{ addstudentform.final (class= "form-control form-control-lg")}}
          </div>

          <div>
            {{ addstudentform.submitstudent (class= "btn btn-outline-info") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<button type="button" class="btn btn-primary" id="modalButton" data-toggle="modal" data-target="#classModal"
  data-whatever="@zzz">Add a Class</button>

<div class="modal fade" id="classModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Class</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for ('myclasses') }}">
          {{ addclassform.hidden_tag() }}
          <div class="form-group">
            {{ addclassform.class_name.label (class= "form-control-label") }}
            {{ addclassform.class_name(class= "form-control form-control-lg")}}
          </div>
          <div>
            {{ addclassform.submitclass (class= "btn btn-outline-info") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock content%}