{%extends "index.html"%}
{%block content%}
<div class="container">
    <div class="row">
        <div>
            <h1>{{student.first_name | capitalize }} {{student.last_name | capitalize}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" id="student-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Assignment Name</th>
                        <th scope="col">Grade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grade in grades %}
                    <tr>
                        <td>
                            {{grade[0]}}
                        </td>
                        <td>
                            {{grade[1].value}}
                        </td>
                    </tr>
                    {% endfor %}
                    {% if average %}
                    <tr>
                        <td>
                            Average:
                        </td>
                        <td>
                            {{average}}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#student-table").DataTable();
    });
</script>
{% endblock content %}