{%extends "index.html"%}

{%block content%}


<img id="blurb" src="static/blurb.jpg">
<img id="text" src="static/text.png">

    <div id ="wrapper">
    <form id ="register">
      <div class="form-group">
          <br>
          <br>
          <br>
          <div class="col-lg-4 offset-lg-7">
              <h1 class="heading">Registration</h2>
              <label for="exampleFirstName">First Name</label>
              <input type="firstName" class="form-control" id="exampleFirstName" placeholder="Enter First Name">
          </div>
      </div>
      <div class="form-group">
          <div class="col-lg-4 offset-lg-7">
              <label for="exampleLastName">Last Name</label>
              <input type="LastName" class="form-control" id="exampleLastName" placeholder="Enter Last Name">
          </div>
      </div>
      <div class="form-group">
          <div class="col-lg-4 offset-lg-7">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
      </div>
      <div class="form-group">
          <div class="col-lg-4 offset-lg-7">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
      </div>
      <div class="form-group">
            <div class="col-lg-4 offset-lg-7">
                <label for="confirmInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="confirmInputPassword1" aria-describedby="confirmPass" 
                placeholder="Confirm Password">
                <small id="confirmPass" class="form-text text-muted">Please confirm your password.</small>
            </div>
        </div>
      <div class="col-lg-4 offset-lg-7">
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
  </div>


{%endblock content%}