{%extends "index.html"%}
{%block content%}
<h2>Course Name Here:</h2>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Assignment name here</th>
            <th scope="col">Assignment name here</th>
            <th scope="col">Average</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>100</td>
            <td>97</td>
            <td>Average Here</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>82</td>
            <td>85</td>
            <td>Average Here</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>35</td>
            <td>45</td>
            <td>Average Here</td>
          </tr>
        </tbody>
       
      </table>

      <button type="button" class="btn btn-primary" id="modalButton" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add a Student</button>

      

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="studentFirstName" class="col-form-label">Student's First Name:</label>
            <input type="text" class="form-control" id="studentFirstName">
          </div>
          <div class="form-group">
            <label for="studentLastName" class="col-form-label">Student's Last Name:</label>
            <input type="text" class="form-control" id="studentLastName">
          </div>
          <div class="form-group">
                <label for="studentID" class="col-form-label">Student's ID:</label>
                <input type="number" class="form-control" id="studentID">
              </div>
            <div class="form-group">
                <label for="selectClass" class="col-form-label">Class:</label>
                <select class="form-control">
                  <option></option>
                  <option>Class A</option>
                  <option>Class B</option>
                </select>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<br>
<br>
      <button type="button" class="btn btn-primary" id="modalButton" data-toggle="modal" data-target="#classModal" data-whatever="@zzz">Add a Class</button>


      <div class="modal fade" id="classModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Class</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="className" class="col-form-label">Class Name:</label>
                  <input type="text" class="form-control" id="className">
                </div>
                <div class="form-group">
                      <label for="classID" class="col-form-label">Class ID:</label>
                      <input type="number" class="form-control" id="classID">
                    </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>


<script>
    $('#exampleModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
    })


    $('#classModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('New message to ' + recipient)
    modal.find('.modal-body input').val(recipient)
    })


    $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('New message to ' + recipient)
    modal.find('.modal-body input').val(recipient)
    })
</script>

{%endblock content%}